# Virtual Environment
bin
lib
pyvenv.cfg

# Python
__pycache__
*.pyc

# Exceptions
private
credentials.*

# Static files
static

# Environment Variables
*.env

# Config File
config.json

# DB
*.sqlite
*.sqlite3
